<% provide(:title, "New Food Provider Sign Up") %>
<% provide(:hero, "Register as a Local Food Provider") %>

<main>
  <div class="signup-form">
    <div class="signup-form-wrapper"></div>
        <%= form_for @farm do |f| %>
        <% if @farm.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@farm.errors.count, "error") %> prohibited this provider from being saved:</h2>
              <ul>
              <% @farm.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
             <% end %>
            </ul>
        </div>
        <% end %>
        <p>
        <%= f.label :name, 'Organization Name' %><br>
        <%= f.text_field :name %>
        </p>

        <p>
        <%= f.label :email %><br>
        <%= f.text_field :email %>
        </p>

        <p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
        </p>

        <p>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
        </p>

        <p>
        <%= f.label :address %><br>
        <%= f.text_area :address %>
        </p>

        <p>
        <%= f.label :url %><br>
        <%= f.text_field :url %>
        </p>

        <p>
        <%= f.label :phone %><br>
        <%= f.text_field :phone %>
        </p>

        <p>
        <%= f.label :facebook %><br>
        <%= f.text_field :facebook %>
        </p>

        <p>
        <%= f.label :instagram %><br>
        <%= f.text_field :instagram %>
        </p>

        <p>
        <%= f.label :twitter %><br>
        <%= f.text_field :twitter %>
        </p>

        <p>
        <%= f.label :statement %><br>
        <%= f.text_area :statement %>
        </p>

       <h2>
         Food Provider Details
       </h2>

       <p>
          <%= f.label :markets%><br>
            <%= f.collection_check_boxes :markets, Market.all, :id,
                :location, checked: Market.all do |b| %>

                <%= b.check_box %>
                <%= b.label %>
                <br>

            <% end %>

      </p>
      <p>
        <%= f.label :growing_methods%><br>
          <%= f.collection_check_boxes :growing_methods, GrowingMethod.all, :id,
              :grow_method, checked: GrowingMethod.all do |b| %>

              <%= b.check_box %>
              <%= b.label %>
              <br>

          <% end %>

      </p>


      <p>
        <%= f.label :sell_methods%><br>
          <%= f.collection_check_boxes :selling_methods, SellingMethod.all, :id,
              :sell_method, checked: SellingMethod.all do |b| %>

              <%= b.check_box %>
              <%= b.label %>
              <br>

          <% end %>

      </p>
      <p>
        <%= f.label :operations%><br>
          <%= f.collection_check_boxes :operations, Operation.all, :id,
              :food, checked: Operation.all do |b| %>

              <%= b.check_box %>
              <%= b.label %>
              <br>

          <% end %>

      </p>
      <p> <b><i> Note: Your operation will not be added until the admin approves it</i></b></p>
      <p>
      <%= f.submit "Submit" %>
      </p>
    <% end %>
    <div class="signup-form-wrapper"></div>
  </div>
</main>
