
<h1>
  Farm Signup Form
</h1>
 <%= form do |f| %>
    <%= f.inputs "Farm Details" do %>
      <%= f.input :name %>
      <%= f.input :contact_name #Not sure if we ever do anything with this%>
      <%= f.input :year%>
      <%= f.input :address%>
      <%= f.input :phone%>
      <%= f.input :email%>
      <%= f.input :url%>
      <%= f.input :statement%>


      <%= f.input :facebook%>
      <%= f.input :instagram%>
      <%= f.input :twitter%>
      <%= f.input :other_media%>


      <%= f.input :operations, as: :check_boxes, collection: Operation.all%>
      <%= f.input :primary_operation, as: :select, collection: Operation.all%>
      <%= f.input :growing_methods, as: :check_boxes, collection: GrowingMethod.all%>
      <%= f.input :link_to_cert%>
      <%= f.input :selling_methods, as: :check_boxes, collection: SellingMethod.all%>
      <%= f.input :markets, as: :check_boxes, collection: Market.all%>

      <%= f.input :growth_promoter, as: :boolean, checked_value: true, unchecked_value: false%>
      <%= f.input :antibiotic, as: :boolean, checked_value: true, unchecked_value: false%>

      <%= f.input :fav_activity%>
      <%= f.input :why_farm%>


      #unless current_farm.admin?
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      #end

      <%= if current_farm.admin?%>
        <%= f.input :approved%>
      <%= end%>
  
      <%= end %>
    <%= f.actions %>
  <%= end %>