<!-- need to add: who we are/ photo / growing methods, selling method -->

<% provide(:title, @farm.name) %>
<% provide(:hero, @farm.name) %>
<main>

 <div class="card-grid-individual-wrapper">
    <div class="card-grid-padding"> </div>
        <div class = "card-grid-individual">
            <!-- creating separate ids for each of the three columns -->
            <div id="card-photo">
                <p> 
                <% if @farm.image_url.blank? %>
                    <img id="farm-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Topi_%28Damaliscus_lunatus_jimela%29_female.jpg/1920px-Topi_%28Damaliscus_lunatus_jimela%29_female.jpg" alt="Placeholder image">
                <% else %>
                    <%= image_tag(@farm.image_url, :id => "farm-image", :alt => @farm.name) %>
                <% end %>
                </p>
             </div>
            <div id= "card-about-us">
                <h2> Who We Are </h2>
                <p> <%= @farm.statement %> </p>
            </div>
            <div id= "card-basic-information">
                <p>  Address <%= @farm.address %> </p>
                <p>  Phone: <%= @farm.phone %> </p>
                <p>  Email: <%= @farm.email %>   </p>
                <% unless @farm.url.blank? %>
                <p><b> Url: </b> <%= @farm.url %> <br />
                <% end %></p>
                <p><% unless @farm.facebook.blank? %>
                <b> Facebook: </b> <%= @farm.facebook %> <br />
                <% end %></p>
                <p><% unless @farm.instagram.blank? %>
                <b> Instagram: </b> <%= @farm.instagram %> <br />
                <% end %></p>
                <p><% unless @farm.twitter.blank? %>
                <b> Twitter: </b> <%= @farm.twitter %> <br />
                <% end %></p>
                <p><% unless @farm.growing_methods.blank? %> <b> Growing Methods:</b> <% @farm.growing_methods.each do |method| %>
                <span><%= method.grow_method %></span> <% end %><% end %></p>
                <p><% unless @farm.markets.blank? %> <b> Market:</b> <% @farm.markets.each do |market| %>
                <span><%= market.location %></span> <% end %><% end %> </p>
                <p><% unless @farm.operations.blank? %> <b> Operations:</b> <% @farm.operations.each do |op| %>
                <span><%= op.food %></span> <% end %><% end %> </p>
                <p><% unless @farm.selling_methods.blank? %> <b> Selling Methods</b>:</b> <% @farm.selling_methods.each do |method| %>
                <span><%= method.sell_method %></span> <% end %><% end %> </p>
            </div>
    </div>
    <div class="card-grid-padding"></div>
  </div>
</main>