<!-- need to add: who we are/ photo / growing methods, selling method -->

<% provide(:title, @farm.name) %>
<% provide(:hero, @farm.name) %>
<main>

 <div class="card-grid-individual-wrapper">
    <div class="card-grid-padding"> </div>
        <div class = "card-grid-individual">
            <!-- creating separate ids for each of the three columns -->
            <div id="card-photo">
                <p> 
                The photo of the farm goes here.
                </p>
             </div>
            <div id= "card-about-us">
                <h2> Who We Are </h2>
                <p> <%= @farm.statement %> </p>
            </div>
            <div id= "card-basic-information">
                <p> <b> Address: </b> <%= @farm.address %> </p>
                <p> <b> Phone: </b> <%= @farm.phone %> </p>
                <p> <b> Email: </b> <%= @farm.email %>   </p>
                <% unless @farm.url.blank? %>
                <b> Url: </b> <%= @farm.url %> <br />
                <% end %>
                <p> <b> Growing Methods:</b> <% @farm.growing_methods.each do |method| %>
                <span><%= method.grow_method %></span> <% end %> </p>
                <p> <b> Market:</b> <% @farm.markets.each do |market| %>
                <span><%= market.location %></span> <% end %> </p>
                <p> <b> Operations:</b> <% @farm.operations.each do |op| %>
                <span><%= op.food %></span> <% end %> </p>
            </div>
    </div>
    <div class="card-grid-padding"></div>
  </div>
</main>