<% provide(:title, "Map") %>
<main>
  
    <div class="content-container">
                <!-- map -->
                <div class="col-md-12" id="mapContainer">
                    <div id="farmmap" class="farm-map"></div>
                </div>
                <!-- list of farms -->
                <div class="col-md-4 invisible" id="sidebar">
                    <!--<div id= "card-basic-information">-->
                    <!--<p> <b> Address: </b> <%= @farm.address %> </p>-->
                    <!--<p> <b> Phone: </b> <%= @farm.phone %> </p>-->
                    <!--<p> <b> Email: </b> <%= @farm.email %>   </p>-->
                    <!--<% unless @farm.url.blank? %>-->
                    <!--<b> Url: </b> <%= @farm.url %> <br />-->
                    <!--<% end %>-->
                    <!--<p> <b> Growing Methods:</b> <% @farm.growing_methods.each do |method| %>-->
                    <!--<span><%= method.grow_method %></span> <% end %> </p>-->
                    <!--<p> <b> Market:</b> <% @farm.markets.each do |market| %>-->
                    <!--<span><%= market.location %></span> <% end %> </p>-->
                    <!--<p> <b> Operations:</b> <% @farm.operations.each do |op| %>-->
                    <!--<span><%= op.food %></span> <% end %> </p>-->
            </div>
                </div>
    </div>
            
  <!--<div id="farmmap" class="farm-map">-->
  <!--    <p>You need to enable JavaScript on this page for the map to work.</p>-->
  <!--</div>-->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQYIkOGccg155GIESrxDpYvL1GgnK1qwQ&callback=initMap"></script>
</main>
