<!DOCTYPE html>
<html>
<head>
  <title>Local Foods Connection</title>
  <%= stylesheet_link_tag 'styles'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('carrot.png'), :rel => 'icon', :type =>  'image/png' %>
</head>
<body>

<%= yield %>

</body>
</html>
