<!DOCTYPE html>
<html lang="en/us">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('carrot.png'), :rel => 'icon', :type =>  'image/png' %>
</head>
<body>
  <div class="grid">
    <%= render 'shared/header' %>
    <%= render 'shared/hero' %>
    <div class="grid">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>